/src/test/java/BaseActions/CustomizingForYourself.java
/target/test-classes/BaseActions/CustomizingForYourself.class
/arrayWithLocatorsForIP
/arrayWithLocatorsForLegalPerson
/arrayWithLocatorsForPerson
/doNeedToConfirmRegistrationOrganization
/doNeedToConfirmRegistrationUser
/fileNameForUsersEmailsAndPasswords
/fileNameForVersionOfWorkingWithOrganization
/fileNameForColor
/doNeedToSpecifyLocation
/allure-results/
/Regress.xml
/Smoke.xml
/Critical.xml
/src/test/java/BaseActions/Retry.java
